<!DOCTYPE html>
<html>
  <head>
    <title>CaptainDuck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="skin-blue sidebar-mini">
    <%= javascript_pack_tag 'header' %>
    <%= yield %>
  </body>
</html>
